html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* ___________________________________ */
#bg-video {
  position: fixed;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  object-fit: "cover";
  background-size: auto;
  background-color: rgb(65, 65, 65);
}
.videolc {
  display: block;
  background-color: rgb(65, 65, 65);
  background-size: cover;
}
.modalbox {
  display: none;
}
.textcontent
{
  display: none;
}

button:hover {
  color: white !important;
  background-color: #080c2c !important;
}

@media only screen and (max-width: 700px) {
  .videolc {
    display: none;
  }
  .modalbox {
    display: block;
  }
  .textcontent
  {
    display: block;
  }
}

.scrollIndicator {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  /* bottom: 50px; */
  top: 80vh;
  left: 96%;
  cursor: default;
  writing-mode: vertical-rl;
  color: #ffffff;
  font-weight: bold;
}

.scrollIndicator::after {
  content: "";
  display: block;
  width: 6px;
  height: 96px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}